.login_heading {
  display: flex;
  flex-direction: column;
  color: rgba(246, 247, 248, 255);
  align-items: center;
  font-weight: 200;
  margin-top: 0px;
  padding: none;
}

.inner_login {
  display: flex;
  flex-flow: column;
  padding: 20px 20px;
  background-color: rgba(8, 41, 94, 255);
  align-items: center;
  border-radius: 10px;
}

button {
  background-color: yellow;
  box-sizing: content-box;
  border: none;
  font-size: medium;
  font-weight: 200;
}

.input_v {
  box-sizing: border-box;
  min-height: 30px;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  font-size: x-large;
}

.log_bottom {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  background-color: rgba(21, 57, 115, 255);
  border: 0;
  color: white;
  padding: 0px 10px;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}
.invalid_alert {
  color: red;
}
a {
  color: rgb(61, 61, 52);
  background-color: yellow;
}

.input_inner {
  display: flex;
  margin-bottom: 20px;
  /* border:1px solid wheat; */
  border-radius: 5px;
  background-color: rgba(21, 57, 115, 255);
  
    border: 0px solid;
  
}
.user_icon {
  height: 40px;
  display: flex;
  align-items: unset;
  width: auto;
  margin-top: 5px;
  margin-left: 5px;
 
}
